In [2]:
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
race_points = {1:50, 2:40, 3:36, 4:32, 5:30, 6:28, 7:26, 8:24, 9:22, 10:20, 11:18, 12:16, 13:14, 14:12, 15:10, 16:8, 17:6, 18:4, 19:2, 20:1}

In [12]:
def extract_data(html_file, race_key, export_csv = False):
    with open(html_file, 'r') as html_doc:
        soup = BeautifulSoup(html_doc, 'html.parser')
    results = soup.find_all('table')[1]
    result_soup = BeautifulSoup(str(results), 'html.parser')
    
    header = [item.string for item in results.find_all('tr')[0] if item.string != '\n']
    rows = [[item.string for item in row if item.string != '\n'] for row in results.find_all('tr')]

    if export_csv:
        print("I'll implement this later, sorry")
    
    df = pd.DataFrame({f'position-{race_key}': [row[0] for row in rows[1:]], f'points-{race_key}': [race_points[int(row[0])] for row in rows[1:]]}, index=[row[6] for row in rows[1:]])
    
    return df

In [13]:
extract_data('sample-data.html', 'test', True)

I'll implement this later, sorry

                            points-test position-test
Atomic Chibi                         50             1
Lego Car                             40             2
RU Greasy                            36             3
The Bus                              32             4
Amazon Box                           30             5
Blue Meanie                          28             6
Electric Koolaid Acid Test           26             7
MAV 721                              24             8
Smoothie                             22             9
Maximum Overdrive                    20            10
FUBAR                                18            11
Aerobot                              16            12
Train Wrecks                         14            13
Go Shopping Kart                     12            14
LIVFREE                              10            15
Lightning McQueen                     8            16
ITSABert                              6            17
The Chariot                           4            18

In [19]:
def combine_tables(*args, event_key=''):
    df = pd.concat(args, axis=1)
    print(df)
    df.to_csv(f'{event_key}-rac')

In [20]:
combine_tables(extract_data('sample-data.html', 'a'), extract_data('sample-data.html', 'b'))

                            points-a position-a  points-b position-b
Atomic Chibi                      50          1        50          1
Lego Car                          40          2        40          2
RU Greasy                         36          3        36          3
The Bus                           32          4        32          4
Amazon Box                        30          5        30          5
Blue Meanie                       28          6        28          6
Electric Koolaid Acid Test        26          7        26          7
MAV 721                           24          8        24          8
Smoothie                          22          9        22          9
Maximum Overdrive                 20         10        20         10
FUBAR                             18         11        18         11
Aerobot                           16         12        16         12
Train Wrecks                      14         13        14         13
Go Shopping Kart                  12         14        12         14
LIVFREE                           10         15        10         15
Lightning McQueen                  8         16         8         16
ITSABert                           6         17         6         17
The Chariot                        4         18         4         18